p {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: rgb(87, 85, 85);
}

.main-section{ 
    display: flex;
    margin-top: 30px;
    
}

.about-left-section{
    background-color: rgb(240, 169, 37);
    margin-left: 30px;
    margin-right: 20px;
    width: 30%;
    padding-bottom: 30px;
    height: 600px;
    border-radius: 3px;
}

.about-right-section{
    background-color: rgb(241, 190, 94);
    width: 70%;
    margin-right: 30px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.profile-admin{
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: 30px;
}

.profile{
    width: 250px;
    border-radius: 50%;
}

.about-website{
    background-color: rgb(240, 169, 37);
    padding: 5px;
}

.text-about{
    margin-left: 10px;
}

.about-website-text{
    padding: 5px;
    margin-left: 10px;
    margin-top: 15px;
    height: 300px;
}

.text-span{
    font-weight: bold;
    color: #f81949;
    background-color: #f5d19c;
    padding: 3px 5px;
}

.text-info{
    margin-left: 20px;
}

.text-info label{
    font-weight: bold;
    margin-bottom: 10px;
}

.biology{
    line-height: 22px;
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    color: #f81949;
}

.our-team {
    background-color: rgb(240, 169, 37);
    padding: 5px;
}

.team-title{
    margin-left: 15px;
}

.team-section{
    min-height: 500px;
}

/*-----------------Card---------------------*/
.card{
    margin: 15px;
    margin-left: 20px;
    background-color: white;
    width: 230px;
    min-height: 400px;
    border-radius: 5px;
    transition: 0.15s;
    box-shadow: 1px 1px 3px rgb(87, 85, 85, 0.5);
    justify-content: center;
    align-items: center;
}

.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px​;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.1);
}

.card-member{
    width: 230px;
    display: flex;
}

.card-info{
    margin: 8px;
    margin-bottom: 10px;
}

.name{
    font-weight: bold;
    margin-bottom: 10px;
}

.position{
    color: rgb(96,96,96);
    margin-bottom: 5px;
}

.card-text{
    margin-bottom: 14px;
    font-size: 14px;
}

.contact-btn{
    background-color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contact-btn:hover{
    background-color: rgb(95, 95, 95);
}

.contact-person{
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.button-contact{
    margin-left: 70px;
    
}
