body {
    background-color: rgb(87, 85, 85);
}

.contact-form{
    background-color: rgb(53, 52, 52);
    border-radius: 5px;
    padding: 8px;
    margin-top: 30px;
    margin-left: 70px;
    width: 545px;
}

.contact-form-info {
    padding: 10px;
}

.email{
    padding: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

.email{
    display: flex;
    width: 500px;
}

.massage{
    padding: 10px;
    max-width: 500px;
    min-width: 500px;
    min-height: 300px;
}

.submit-btn{
    background-color: rgb(74, 59, 43);
    border: 1px solid rgb(240, 169, 37);
    padding: 10px 190px;
    border-radius: 30px;
    color: rgb(240, 169, 37);
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50px;
    transition: 0.15s;
}

.submit-btn:hover{
    background-color:rgb(240, 169, 37);
    color: white;
}

.main-section{
    display: flex;
    margin-bottom: 30px;
}

.image-section{
    margin-left: 140px;
    margin-top: 40px;
}

.contact-img{
    width: 500px;
    transition: 0.15s;
}

.contact-img:hover{
    transform: scale(1.1);
}

.social-icon{
    width: 50px;
}
