*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:rgb(53, 52, 52);
}
.card-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card-container{
    margin: 0 8rem;
}

.cards{
    background-color: #fff;
    width: 300px;
    height: 300px;
    margin: 2rem 2rem;
    /* padding: 10px; */
    padding-bottom:3.2in;
    border-radius: 3px;
}

.image-card{
    width: 300px;
    display:table-cell;
    text-align:center ;
    vertical-align:middle ;
    
}

.card-info{
    margin: 0 20px;
}

.card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right p{
    font-size: 14px;
    color: rgb(96,96,96);
}

.btn a button{
    text-decoration: none;
    color: rgb(53,52,52);
}

.btn a button:hover{color: #fff;}

.card-download-btn{
    background-color: transparent;
    border: 2px solid rgb(53,52,52);
    padding: 8px 30px;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin-left: 4rem;
}

.card-download-btn:hover{
    background-color: rgb(53,52,52);
}