*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.web-logo{
    width: 130px;
}

.left-section{
    margin-left: 150px;
}

.header-section{
    position: sticky;
    top: 0;
}

.header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: rgb(43, 43, 43);
    font-family: 'Roboto Mono', monospace;
}

.nav-menu li{
    list-style: none;
}

.nav-menu li a{
    text-decoration: none;
    margin-right: 40px;
    color: white;
    font-size: 18px;
    
}

.nav-menu li a:hover{
    color: rgb(240, 169, 37);
}

.nav-menu{
    display: flex;
}

.right-section{
    display: flex;
    align-items: center;
    margin-right: 250px;
}

.download-btn{
    background-color: rgb(240, 169, 37);
    border: none;
    padding: 10px 18px;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.15s;
}

.download-btn:hover {
    transform: scale(1.1);
}

.link-to-download{
    text-decoration: none;
    color: white;
}


